{% extends 'base.html' %} {% block title %}Edit a user{% endblock %} {% block
content%}
<h1>Edit a user</h1>
<form action="" method="post">
  <div>
    <label for="first-name"
      >First name
      <input type="text" name="first-name" value="{{user.first_name}}"
    /></label>
  </div>
  <div>
    <label for="last-name"
      >Last name <input type="text" name="last-name" value="{{user.last_name}}"
    /></label>
  </div>
  <div>
    <label for="img-url"
      >Image Url <input type="text" name="img-url" value="{{user.image_url}}"
    /></label>
  </div>
  <a href="/users/{{user.id}}" class="btn btn-outline-info">Cancel</a>
  <button class="btn btn-success" name="save-button">Save</button>
</form>
{% endblock %}
